<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @stylist.username %>
</p>

<p>
  <b>Email:</b>
  <%= @stylist.email %>
</p>


<%= link_to 'Edit', edit_stylist_path(@stylist) %> |
<%= link_to 'Back', stylists_path %>
